.replacement_marker1 {
   position: absolute;
   background-color: #ff000060;
}

.replacement_marker2 {
   position: absolute;
   background-color: #0000ff60;
}

.replacement_marker3 {
   position: absolute;
   background-color: #00800060;
}

.replacement_marker4 {
   position: absolute;
   background-color: #ffa50070;
}

.replacement_marker5 {
   position: absolute;
   background-color: #80008060;
}

.ace_marker-layer {
  > div:not(.ace_selection){
    width: 100% !important;
    border-radius: unset !important;
    left: 0 !important;
  }
}