.replacement_marker {
   position: absolute;
   background-color: #FFFF00;
}

.ace_marker-layer {
  > div:not(.ace_selection){
    width: 100% !important;
    border-radius: unset !important;
    left: 0 !important;
  }
}